---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Content from "../components/Content.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gray-50">
    <div class="flex flex-col">
      <main class="pt-2">
      <Header title={SITE_TITLE} />
        <Content
          ><section>
            <h1 class="font-Inter font-bold text-stone-700 text-4xl">
              Welcome to my site.
            </h1>
            <div class="mb-6 mt-4">
              <p class="text-blue-900">
                I dont write too much, but every word I wrote counts.
              </p>
            </div>
          </section>
        </Content>
      </main>
      <Footer />
    </div>
  </body>
</html>
