---
const today = new Date();
---

<footer>
  <p class="text-sky-700 font-bold text-center">
    &copy; {today.getFullYear()} ZHAO Zhenhua. All rights reserved.
  </p>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
