---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
import { IoLogoGithub } from "react-icons/io5/index";
---

<header class="fixed w-full pg2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center justify-end gap-3 text-base">
      <h2 class="font-semibold tracking-tighter p-2 font-Inter text-lg">
        {SITE_TITLE}
      </h2>
      <div class="items-center gap-4 hidden md:flex">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="https://github.com/zRich" target="_blank"
          ><IoLogoGithub/>Github</HeaderLink
        >
      </div>
      <div class="flex-1"></div>
    </nav>
  </div>
</header>
